head
  link(type="text/css" rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css')
  link(type="text/css" rel="stylesheet" href='http://fonts.googleapis.com/icon?family=Material+Icons')

  script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js')
  script(type='text/javascript' src='../js/init.js')