doctype html

html
  include head.jade
  body
    .navbar-fixed
      nav(class="blue-grey")
        .nav-wrapper
          a(href="#!" class="brand-logo center") Portal HR
          a(href="#" data-activates="mobile-demo" class="button-collapse")
            i(class="material-icons") menu
          ul(id="nav-mobile" class="right hide-on-med-and-down")
            include pages_list
          ul(class="side-nav" id="mobile-demo")
            include pages_list

    .container
        .row
          h4
            block page_head

        .divider

        .row
          div(class="col s11")
            block content

            div(class="col s1")
              div(class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;")
                a(class="btn-floating btn-large blue-grey")
                  i(class="large material-icons") menu
                ul
                  block button_menu